            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Horizontal Layouts</h4>
                <!-- Basic Layout & Basic with Icons -->
                <div class="row">
                  <!-- Basic with Icons -->
                  <div class="col-xxl">
                    <div class="card mb-4">
                      <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Add Users</h5>
                        <small class="text-muted float-end">Merged input group</small>
                      </div>
                      <div class="card-body">
                        <form method="post">
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Role</label>
                            <div class="col-sm-10">
                              <div class="input-group input-group-merge">
                                <select name="role" class="form-control" id="">
                                  <% if(details.role=='user' ) { %>
                                    <option value="User" selected>User</option>
                                    <option value="Admin">Admin</option>
                                    <% } else { %>
                                      <option value="User">User</option>
                                      <option value="Admin" selected>Admin</option>
                                      <% } %>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">account</label>
                            <div class="col-sm-10">
                              <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-user"></i></span>
                                <input name="account" value="<%= details.account%>" type="text" class="form-control" id="basic-icon-default-fullname"
                                  placeholder="John Doe" aria-label="John Doe"
                                  aria-describedby="basic-icon-default-fullname2" />
                              </div>
                            </div>
                          </div>

                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">fullname</label>
                            <div class="col-sm-10">
                              <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-user"></i></span>
                                <input name="fullname" type="text" value="<%= details.fullname %>" class="form-control"
                                  id="basic-icon-default-fullname" placeholder="John Doe" aria-label="John Doe"
                                  aria-describedby="basic-icon-default-fullname2" />
                              </div>
                            </div>
                          </div>
                          
                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Password</label>
                            <div class="col-sm-10">
                              <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-user"></i></span>
                                <input name="password" type="text" class="form-control" id="basic-icon-default-fullname"
                                  placeholder="John Doe" aria-label="John Doe"
                                  aria-describedby="basic-icon-default-fullname2" />
                              </div>
                            </div>
                          </div>


                          <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">email</label>
                            <div class="col-sm-10">
                              <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                    class="bx bx-user"></i></span>
                                <input name="email" value="<%= details.email %>" type="text" class="form-control"
                                  id="basic-icon-default-fullname" placeholder="John Doe" aria-label="John Doe"
                                  aria-describedby="basic-icon-default-fullname2" />
                              </div>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label class="col-sm-2 form-label" for="basic-icon-default-phone">active</label>
                            <div class="col-sm-10">
                              <% if(details.active==true) { %>
                                <input type="radio" name="active" checked value="true">active
                                <input type="radio" name="active" value="false">Un active
                                <% } else { %>
                                  <input type="radio" name="active"  value="true">active
                                  <input type="radio" name="active" checked value="false">un Active
                                  <% } %>
                            </div>
                          </div>
                          <div class="row justify-content-end">
                            <div class="col-sm-10">
                              <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / Content -->